rules_version = '2';
// https://qiita.com/KosukeSaigusa/items/18217958c581eac9b245
// alow readは絶対に書いてはいけない

service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    //   allow read, write: if false;
    // }
    
    // function requestData() {
    //   return request.resource.data;
    // }
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isUserAuthenticated(userId) {
      return isAuthenticated() && userId == request.auth.uid;
    }
    
    function isReferenceOwner(collection, id) {
    	return get(/databases/$(database)/documents/$(collection)/$(id)).data.user == /databases/$(database)/documents/users/$(request.auth.uid)
    }
    
    match /users/{uid} {
      allow read, create, update: if isUserAuthenticated(uid);
      // createもgetもuidを渡している
    }
    
    match /threads/{threadId} {
    	allow create: if request.auth.uid == "l2jB2bHaafaSB8YP3wMiHjwXOr32"; // 作成者とログインユーザーが同じであること
    	allow read, update: if isAuthenticated() && isReferenceOwner("threads", threadId); // オーナーがログインユーザーであること
    }
  }
}